body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 800px;
  margin: 0 auto;
}
.home h1 {
  text-align: center;
  color: #2196f3;
  margin-bottom: 2px;
}
.home .post {
  border: 1px solid #e1e1e1;
  padding: 10px 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.home .post a {
  text-decoration: none;
}
.home .post h3 {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: bold;
  color: black;
}
.home .post h3:hover {
  color: #2196f3;
}
.home .post p {
  font-size: 13px;
}

#blog-by {
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
}
.post-detail h1 {
  text-align: center;
}
#nav {
  width: 100vw;
  list-style-type: none;
  padding: 20px;
  display: flex;
  background-color: rgba(52, 236, 6, 0.719);
  gap: 25px;
}
#nav li {
  margin-left: 10px;
}
#nav li a {
  font-size: large;
  font-weight: 500;
  text-decoration: none;
  /* color: #9e9e9e; */
  color: black;
}
#nav li a:hover {
  /* text-decoration: underline; */
  color: white;
}
.create-post h1 {
  text-align: center;
}
.create-post .form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.create-post .form-field label {
  margin-bottom: 9px;
}
.create-post .form-field input {
  height: 37px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  font-size: 18px;
  padding-left: 10px;
}

.create-post .form-field textarea {
  border: 1px solid #e1e1e1;
  height: 400px;
  font-size: 18px;
  padding-left: 10px;
  border-radius: 3px;
  padding-top: 5px;
}
.create-post-btn {
  height: 33px;
  background: #4caf50;
  border: 0;
  color: #fff;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 15px;
  border-radius: 3px;
  cursor: pointer;
}
.action-icons {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  margin-top: 20px;
}
.action-icons{
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 100px;
  margin-top: 30px;
}
.action-icons button{
  display: flex;
  justify-Content: flex-end;
  align-Items: center;
  background-color: red;
  border-radius: 50px;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
}